{{define "footer"}}
<footer class="{{.Theme.color.background}} {{.Theme.color.font}} border-t border-cyan-800">
	<div class="w-11/12 max-w-screen-xl mx-auto flex flex-row justify-between text-sm font-extralight">
		<!-- made love -->
		<p class="h-10 leading-10">Made with<em class="mx-3 text-base text-red-500">♥</em> by Fundipper</p>
		<!-- copy right-->
		<p class="h-10 leading-10">{{.Theme.copyright}}</p>
	</div>
</footer>
<script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.9.5/dist/cdn.min.js"></script>
<script>
	const btn = document.querySelector(".menu_button");
	const bar = document.querySelector(".menu_bar");

	btn.addEventListener("click", () => {
		bar.classList.toggle("hidden");
	});

	window.sidebar = () => {
		return {
			path: window.location.pathname,
			state: {},
			getState: function (path) {
				return this.state[path] ? true : false;
			},
			setState: function (path) {
				this.state[path] = !this.getState(path);
			},
		};
	};
</script>
<script src="https://cdn.jsdelivr.net/npm/vanilla-lazyload@17.7.0/dist/lazyload.min.js"></script>
<script>
	new LazyLoad({
		callback_error: (img) => {
			img.setAttribute("src", "/assets/img/loading.gif");
		},
	});
</script>
<script async src="https://www.googletagmanager.com/gtag/js?id={{.Theme.analysis}}"></script>
<script>
	window.dataLayer = window.dataLayer || [];
	function gtag() {
		dataLayer.push(arguments);
	}
	gtag("js", new Date());

	gtag("config", "{{.Theme.analysis}}");
</script>
{{end}}
