{{define "header"}}
<header class="{{.Theme.color.background}} {{.Theme.color.font}}">
	<nav class="w-11/12 max-w-screen-xl mx-auto flex flex-row flex-wrap">
		<div class="w-2/3 my-2 flex flex-row items-center">
			<a href="/">
				<img class="h-10" src="{{.Theme.image.fungo}}" alt="" />
			</a>
			<a href="/changelog/">
				<p class="h-5 leading-5 mx-3 px-3 bg-cyan-800 rounded-full text-xs">v0.2.9</p>
			</a>
		</div>
		<div class="w-1/3 md:hidden flex flex-row justify-end items-center menu_button">
			<svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
				<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
			</svg>
		</div>
		<ul class="w-full md:w-1/3 my-2 hidden md:flex flex-row flex-wrap menu_bar">
			{{range .Theme.link.header.data}}
			<li class="w-full md:w-1/4 h-10 leading-10 text-right">
				<a href="{{.path}}">{{.name}}</a>
			</li>
			{{end}}
			<li class="w-full md:w-1/4 h-10 flex justify-end items-center">
				<svg
					xmlns="http://www.w3.org/2000/svg"
					class="h-5 w-5"
					fill="none"
					viewBox="0 0 24 24"
					stroke="currentColor"
					stroke-width="2"
				>
					<path
						stroke-linecap="round"
						stroke-linejoin="round"
						d="M3 5h12M9 3v2m1.048 9.5A18.022 18.022 0 016.412 9m6.088 9h7M11 21l5-10 5 10M12.751 5C11.783 10.77 8.07 15.61 3 18.129"
					/>
				</svg>
			</li>
		</ul>
	</nav>
</header>
{{end}}
