{{define "language"}}
<div
    class="container x80 xp10 h100 l0 t0 p-fixed x-center y-center language"
    style="background: rgba(0, 0, 0, 0.75); display: none"
>
    <div class="container x60 xm20 yp20 mx800 bgf br10 p-relative">
        <p class="y50 fs24 t0 r0 t-center t-pointer p-absolute hide" style="width: 50px">
            <img class="y30 ym10 lozad" data-src="/assets/img/t_icon_close.png" alt="close" />
            <noscript><img class="y30 ym10" src="/assets/img/t_icon_close.png" alt="close" /></noscript>
        </p>
        <div class="container x92 xp4 ym20 x-column">
            <ul class="container ym15 x-between">
                <li class="x20 y40 b-border bcz br4 t-center">
                    <a href="/">English</a>
                </li>
                <li class="x20 y40 b-border bcz br4 t-center">
                    <a href="/ar/">اللغة العربية</a>
                </li>
                <li class="x20 y40 b-border bcz br4 t-center">
                    <a href="/bn/">বাংলা</a>
                </li>
                <li class="x20 y40 b-border bcz br4 t-center">
                    <a href="/cs/"> Česko </a>
                </li>
            </ul>
            
            <ul class="container x-between">
                <li class="x20 y40 b-border bcz br4 t-center">
                    <a href="/de/">Deutsch</a>
                </li>
                <li class="x20 y40 b-border bcz br4 t-center">
                    <a href="/el/">Ελληνικά</a>
                </li>
                <li class="x20 y40 b-border bcz br4 t-center">
                    <a href="/es/">Español</a>
                </li>
                <li class="x20 y40 b-border bcz br4 t-center">
                    <a href="/fr/">Français</a>
                </li>
            </ul>

            <ul class="container ym15 x-between">
                <li class="x20 y40 b-border bcz br4 t-center">
                    <a href="/hi/">हिंदी</a>
                </li>
                <li class="x20 y40 b-border bcz br4 t-center">
                    <a href="/id/">Bahasa Indonesia</a>
                </li>
                <li class="x20 y40 b-border bcz br4 t-center">
                    <a href="/it/">Italiano</a>
                </li>
                <li class="x20 y40 b-border bcz br4 t-center">
                    <a href="/ja/">日本語</a>
                </li>
            </ul>

            <ul class="container x-between">
                <li class="x20 y40 b-border bcz br4 t-center">
                    <a href="/jv/">Basa Jawa</a>
                </li>
                <li class="x20 y40 b-border bcz br4 t-center">
                    <a href="/ms/">Bahasa Malaysia</a>
                </li>
                <li class="x20 y40 b-border bcz br4 t-center">
                    <a href="/nl/">Nederlands</a>
                </li>
                <li class="x20 y40 b-border bcz br4 t-center">
                    <a href="/pl/">Polski</a>
                </li>
            </ul>

            <ul class="container ym15 x-between">
                <li class="x20 y40 b-border bcz br4 t-center">
                    <a href="/pt/">Português</a>
                </li>
                <li class="x20 y40 b-border bcz br4 t-center">
                    <a href="/ro/">Roman</a>
                </li>
                <li class="x20 y40 b-border bcz br4 t-center">
                    <a href="/ru/">Русский</a>
                </li>
                <li class="x20 y40 b-border bcz br4 t-center">
                    <a href="/th/">ภาษาไทย</a>
                </li>
            </ul>

            <ul class="container x-between">
                <li class="x20 y40 b-border bcz br4 t-center">
                    <a href="/tr/">Türkçe</a>
                </li>
                <li class="x20 y40 b-border bcz br4 t-center">
                    <a href="/uk/">Україна</a>
                </li>
                <li class="x20 y40 b-border bcz br4 t-center">
                    <a href="/vi/">Tiếng Việt</a>
                </li>
                <li class="x20 y40 b-border bcz br4 t-center">
                    <a href="/zh/">中文（简体）</a>
                </li>
            </ul>
        </div>
    </div>
</div>
{{end}}
