<!-- templates/post.html -->
{{define "post"}}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>{{.Message.Meta.title}} - {{.Site.Name}}</title>
		<meta name="description" content="{{.Message.Meta.description}}" />
		<link rel="stylesheet" href="/assets/css/output.css" />
		<style>
			.prose pre {
				background-color: rgb(243, 244, 246) !important;
			}
		</style>
	</head>
	<body class="bg-gray-100">
		<!-- header -->
		{{template "header" .}}

		<!-- main -->
		<main>
			<div class="w-11/12 max-w-screen-xl mx-auto">
				<div class="grid grid-cols-1 md:grid-cols-3 md:gap-5">
					<div class="col-span-1 md:col-span-2 my-5">
						<div class="px-10 py-5 bg-white rounded-md overflow-hidden">
							<h1 class="text-3xl">{{.Message.Meta.title}}</h1>
							<div class="py-5 flex flex-row">
								<p class="text-gray-400 flex flex-row justify-center md:justify-start items-center">
									<svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24" stroke="currentColor">
										<path
											stroke-linecap="round"
											stroke-linejoin="round"
											stroke-width="2"
											d="M8 7V3m8 4V3m-9 8h10M5 21h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v12a2 2 0 002 2z"
										/>
									</svg>
									<span class="mx-2 text-sm"> {{.Message.Meta.date}}</span>
								</p>
								<p class="text-gray-400 flex flex-row justify-center md:justify-start items-center">
									<svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24" stroke="currentColor">
										<path
											stroke-linecap="round"
											stroke-linejoin="round"
											stroke-width="2"
											d="M7 20l4-16m2 16l4-16M6 9h14M4 15h14"
										/>
									</svg>
									<span class="mx-2 text-sm">
										{{if .Message.Lang.State}}
										<a class="text-gray-400" href="/{{.Message.Lang.Content}}/category/{{toLower .Message.Meta.category}}/">
											{{.Message.Meta.category}}
										</a>
										{{else}}
										<a class="text-gray-400" href="/category/{{toLower .Message.Meta.category}}/">
											{{.Message.Meta.category}}
										</a>
										{{end}}
									</span>
								</p>
							</div>
							<article class="max-w-none prose prose-sm prose-cyan prose-pre:bg-gray-100 prose-code:text-gray-700">
								{{safe .Message.Content}}
							</article>
						</div>
					</div>
					<aside class="col-span-1">
						<div class="md:my-5 py-5 bg-white rounded-md">
							{{$author := index .Theme.author .Message.Meta.author}}
							<div class="flex flex-row">
								<p class="w-1/3">
									<img
										class="w-20 h-20 mx-auto rounded-full lazy"
										src="/assets/img/loading.gif"
										data-src="{{$author.avatar}}"
										alt=""
									/>
								</p>
								<p class="w-2/3 flex flex-col">
									<span class="h-10 leading-10 text-lg">{{$author.name}}</span>
									<span class="h-10 leading-10 text-gray-400 text-sm"> {{$author.title}} </span>
								</p>
							</div>
							<p class="w-11/12 mx-auto my-5 text-gray-700">{{$author.summary}}</p>
							<a href="mailto:{{$author.email}}">
								<p
									class="w-2/3 mx-auto h-10 leading-10 border hover:bg-gray-100 rounded flex felx-row justify-center items-center"
								>
									<svg
										xmlns="http://www.w3.org/2000/svg"
										class="h-5 w-5"
										fill="none"
										viewBox="0 0 24 24"
										stroke="currentColor"
										stroke-width="2"
									>
										<path
											stroke-linecap="round"
											stroke-linejoin="round"
											d="M3 8l7.89 5.26a2 2 0 002.22 0L21 8M5 19h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z"
										/>
									</svg>
									<span class="px-5 text-sm">Contact Me</span>
								</p>
							</a>
						</div>
						<div class="sticky top-5">
							{{if .Message.TOC.State}}
							<div class="px-5 my-5 py-5 bg-white rounded-md">
								<p class="h-10 leading-10 flex flex-row items-center">
									<svg
										xmlns="http://www.w3.org/2000/svg"
										class="h-5 w-5 text-gray-400"
										fill="none"
										viewBox="0 0 24 24"
										stroke="currentColor"
										stroke-width="2"
									>
										<path
											stroke-linecap="round"
											stroke-linejoin="round"
											d="M19 11H5m14 0a2 2 0 012 2v6a2 2 0 01-2 2H5a2 2 0 01-2-2v-6a2 2 0 012-2m14 0V9a2 2 0 00-2-2M5 11V9a2 2 0 012-2m0 0V5a2 2 0 012-2h6a2 2 0 012 2v2M7 7h10"
										/>
									</svg>
									<span class="px-3 text-lg">TOC</span>
								</p>
								<div class="max-h-96 overflow-auto prose">{{safe .Message.TOC.Content}}</div>
							</div>
							{{end}}
							<div class="px-5 my-5 py-5 bg-white rounded-md">
								<p class="h-10 leading-10 flex flex-row items-center">
									<svg
										xmlns="http://www.w3.org/2000/svg"
										class="h-5 w-5 text-gray-400"
										fill="none"
										viewBox="0 0 24 24"
										stroke="currentColor"
									>
										<path
											stroke-linecap="round"
											stroke-linejoin="round"
											stroke-width="2"
											d="M7 7h.01M7 3h5c.512 0 1.024.195 1.414.586l7 7a2 2 0 010 2.828l-7 7a2 2 0 01-2.828 0l-7-7A1.994 1.994 0 013 12V7a4 4 0 014-4z"
										/>
									</svg>
									<span class="px-3 text-lg">TAG</span>
								</p>
								{{$Lang := .Message.Lang}}
								<ul class="flex flex-row flex-wrap">
									{{range $k,$v := .Message.Meta.tag}}
									<li class="w-1/2 h-10 leading-10 text-sm inline-flex items-center">
										<span class="w-1/4">
											<p class="w-6 h-6 leading-6 rounded-full bg-gray-100 text-sm text-center">{{ add $k 1}}</p>
										</span>
										<p class="w-3/4 inline-flex">
											{{if $Lang.State}}
											<a href="/{{$Lang.Content}}/tag/{{toLower $v}}/">{{$v}} </a>
											{{else}}
											<a href="/tag/{{toLower $v}}/">{{$v}} </a>
											{{end}}
										</p>
									</li>
									{{end}}
								</ul>
							</div>
						</div>
					</aside>
				</div>
			</div>
		</main>

		<!-- footer -->
		{{template "footer" .}}
	</body>
</html>
{{end}}
