<!-- templates/tags.html -->
{{define "tags"}}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>{{.Message.Meta.title}} - {{.Site.Name}}</title>
		<meta name="description" content="{{.Message.Meta.description}}" />
		<link rel="stylesheet" href="/assets/css/output.css" />
		<style>
			.prose pre {
				background-color: rgb(243, 244, 246) !important;
			}
		</style>
	</head>

	<body class="bg-gray-100">
		<!-- header -->
		{{template "header" .}}

		<!-- main -->
		<main>
			<div class="w-11/12 max-w-screen-lg mx-auto my-5 px-5 md:px-10 py-5 bg-white rounded-md">
				<h1 class="py-10 text-3xl text-center">{{.Message.Meta.title}}</h1>
				<div class="max-w-none prose prose-lg prose-cyan prose-pre:bg-gray-100 prose-code:text-gray-700">{{safe .Message.Content }}</div>
			</div>
		</main>

		<!-- footer -->
		{{template "footer" .}}
	</body>
</html>
{{end}}
